body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f0f0f0; /* Fundo neutro e claro */
    color: #333; /* Texto em cor neutra */
}

.container {
    display: block;
    text-align: center;
    background: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
}

.crypto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.crypto {
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
    transition: background 0.5s;
    position: relative;
    border: solid 1px #888;
}

.crypto h3 {
    margin: 0;
    font-size: 1.5em;
}

.crypto h5 {
    margin: 10px 0 0 0;
    font-size: 1.2em;
}

.crypto p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #222; /* Texto em cor menos viva */
}

.crypto img, .crypto .crypto_alavancagem {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 300;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: solid 1px #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.crypto a {
    text-decoration: none;
    color: #222;
}

.crypto img.img-corretora{
    top: 40px;
    z-index: 200;
}

.crypto .crypto_alavancagem{
    top: 75px;
    z-index: 100;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    letter-spacing: -2px;
    padding-top: 3px;
    background: linear-gradient(135deg, #555, #000);
    height: 30px;
    color: #ccc;
    border-radius: 50%;
    font-size: 15px;
}

.dragging {
    background-color: #f0f0f0;
    opacity: 0.5;
  }

#cryptoTableBody tr:nth-child(odd) td {
    border-bottom: #aaa;
}

#draggableTable th {
    font-size: 16px;
}